.btn {
  padding: 5px 20px;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: bold;
  max-width: 100px;
  &.btn-primary {
    background-color: red;
    color: white;
    border: 1px solid red;
  }
}
