.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid black;
  border-radius: 5px;
  margin: 2rem;
}
